:root {
    --primary-color: #18a5e7;
    --secondary-color: #dd2f6e;
}

.primary-color {
    background-color: var(--primary-color);
    color: #FFF;
}

.secondary-color {
    background-color: var(--secondary-color);
    color: #FFF;
}

.text-primary-color {
    color: var(--primary-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.primary-gradient-color {
    background: rgb(24, 165, 231);
    background: linear-gradient(
        90deg,
        rgba(24, 165, 231, 1) 56%,
        rgba(221, 47, 110, 1) 100%
    );
}

.secondary-gradient-color {
    background: rgb(221, 47, 110);
    background: linear-gradient(
        90deg,
        rgba(221, 47, 110, 1) 0%,
        rgba(24, 165, 231, 1) 100%
    );
}

.not-allowed {
    cursor: not-allowed;
}

.nav-active {
    background: linear-gradient(
        90deg,
        rgba(24, 165, 231, 1) 0%,
        rgba(221, 47, 110, 1) 100%
    );
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    border-radius: 30px 0px 0px 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--secondary-color);
}

.nav-pills .nav-link {
    color: var(--primary-color);
    background-color: #fff;
}

@keyframes spinner-border {
    to {transform: rotate(360deg);}
  }
  
  @keyframes spinner-grow {
    0% {
     -webkit-transform:scale(0);
     transform:scale(0)
    }
    50% {
     opacity:1
    }
   }
  
  .spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border 1s linear infinite;
  }
  
  .spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
  }